<!DOCTYPE html>
<!--
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"> 
        <title>Arbol</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <figure class="arbol">
            <img src="https://cope-cdnmed.cope.es/resources/jpg/2/9/1686419523992.jpg" alt="10"/>
        </figure>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
